@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
  text-align: center;
}

// .login {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
// }

img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}

.primary-bg {
  background-color: #edff67;
}

.primary-border {
  border: #edff67 5px solid !important;
}
